body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffffa6;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
}
.login button, .signup button{
    width: 100px;
    height: 35px;
    border-radius: 20px;
    float: right;
}
.login button{
    margin-right: -25px;
}
button:hover{
    font-size: 13px;
    font-weight: bolder;
}
.login a, .signup a{
    color: black;
}
.login a:hover, .signup a:hover{
    color: black;
}

.about {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    display: flex;
}

.about h2 {
    text-decoration: overline;
    width: 300px;
    border-left: 14px solid black;
    padding: 20px 70px;
    color: #333;
    font-size: 50px;
    margin-bottom: 20px;
}

.about p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
}
.about1 img{
    border-radius: 50px;
    margin-top: 50px;
    width: 600px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}