body {
    background-image: url('../images/l1.avif');
    background-size: 100%;
    /* background-repeat: no-repeat; */
}

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* Center the container vertically and horizontally */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style form */
.form {
    width: 400px;
    height: 350px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Style form elements */
.form h2 {
    margin-bottom: 40px;
    text-align: center;
}

.form-group {
    margin-bottom: 30px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    margin: 10px 0px 10px -10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style form button */
button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}